*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
# Hasil Build & File Eksperimen Tambahan
*.apk
*.ap_
*.aab
output-metadata.json
*.log
.navigation/

# Folder Konfigurasi Android Studio Lengkap
.idea/

# Keamanan (Kunci Aplikasi)
*.jks
*.keystore

